@import "../css/Font.css";
@import "../css/Font.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  font-weight: 400px;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

body {
  color: white;
  background-color: black;
  width: 99vw;
  position: relative;
  scroll-behavior: smooth;
}

.topheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding-inline: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.topheader .logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.topheader .logo h1 {
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: 900;
  margin-left: -20px;
}
.topheader .logo .icon {
  width: 100px;
  height: 100px;
}
.topheader .logo .icon img {
  width: 100%;
  height: 100%;
}
.topheader nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 7rem;
  list-style: none;
}
.topheader nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
.topheader .btn {
  padding: 13px;
  background: #ca0123;
  color: white;
  padding-inline: 22px;
  text-decoration: none;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 1rem;
  transition: 0.5s all;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 2px solid transparent;
}
.topheader .btn:hover {
  background: transparent;
  border: 2px solid #ca0123;
}

/* Navbar on Scroll (Active State) dom class */
.scroll {
  background: rgba(27, 25, 25, 0.5568627451);
  backdrop-filter: blur(14px);
  /* Background color on scroll down */
}

.hero_section {
  padding-top: 100px;
  width: 100%;
  height: 700px;
}
.hero_section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.newsletter {
  margin-top: 1rem;
  display: flex;
  width: 100%;
  padding-top: 4rem;
  padding-left: 10px;
  max-height: 900px;
  background: linear-gradient(black, rgb(44, 43, 43), black);
  position: relative;
  padding-right: 20px;
}
.newsletter .support-img {
  height: 100%;
  background-color: black;
  border-radius: 70px;
  align-self: baseline;
}
.newsletter .support-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  position: relative;
  width: 44%;
  padding-left: 100px;
}

form {
  background: rgba(255, 255, 255, 0.302);
  padding: 3em;
  padding-inline: 2em;
  height: 420px;
  border-radius: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.302);
  border-top: 1px solid rgba(255, 255, 255, 0.302);
  backdrop-filter: blur(10px);
  box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
  transition: all 0.2s ease-in-out;
}
form p {
  font-weight: 500;
  color: #fff;
  opacity: 0.7;
  font-size: 1.4rem;
  margin-top: 0;
  margin-bottom: 60px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form a {
  text-decoration: none;
  color: #ddd;
  font-size: 17px;
}
form a:hover {
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2509803922);
}
form a:active {
  text-shadow: none;
}
form input {
  background: transparent;
  width: 400px;
  padding: 1em;
  margin-bottom: 2em;
  border: none;
  border-left: 1px solid rgba(255, 255, 255, 0.302);
  border-top: 1px solid rgba(255, 255, 255, 0.302);
  border-radius: 5px;
  backdrop-filter: blur(5px);
  box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form input:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type=email]:focus, form input[type=password]:focus {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type=button] {
  border-radius: 10px;
  margin-top: 10px;
  width: 300px;
  font-size: 1rem;
}
form input[type=button]:hover {
  cursor: pointer;
}
form input[type=button]:active {
  background: rgba(255, 255, 255, 0.2);
}
form:hover {
  margin: 4px;
  background: rgba(0, 0, 0, 0.302);
}

::placeholder {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
  background: rgba(255, 255, 255, 0.302);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  border-left: 1px solid rgba(255, 255, 255, 0.302);
  border-top: 1px solid rgba(255, 255, 255, 0.302);
  box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
  position: absolute;
  transition: all 0.2s ease;
}
.drop-1 {
  height: 80px;
  width: 80px;
  top: -20px;
  left: -40px;
  z-index: -1;
}
.drop-2 {
  height: 80px;
  width: 80px;
  bottom: -30px;
  right: -10px;
}
.drop-3 {
  height: 100px;
  width: 100px;
  bottom: 120px;
  right: -50px;
  z-index: -1;
}
.drop-4 {
  height: 120px;
  width: 120px;
  top: -60px;
  right: -60px;
}
.drop-5 {
  height: 60px;
  width: 60px;
  bottom: 170px;
  left: 90px;
  z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.footer {
  background: linear-gradient(black, #272222, #a03333);
  color: #fff;
}

.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}

.footer-wave-path {
  fill: black;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}
.footer-content-column aside {
  width: 100px;
}

.logo_container {
  display: flex;
  flex-direction: column;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.logo_img {
  width: 200px;
  aspect-ratio: 1;
}
.logo_img img {
  width: 100%;
  height: 100%;
}

.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}

.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}

.footer-call-to-action-button:hover {
  background-color: #fffff2;
  color: #ca0123;
}

.button:last-of-type {
  margin-right: 0;
}

.footer-call-to-action-button {
  background-color: #ca0123;
  border-radius: 12px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}

.footer-call-to-action {
  margin-top: 30px;
}

.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}

.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}

.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #9ea5a7;
}

.footer-social-link.linkedin {
  height: 260px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-copyright {
  background-color: linear-gradient(black, rgb(39, 34, 34), rgb(160, 51, 51));
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) { /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width: 1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width: 1281px) { /* hi-res laptops and desktops */ }
@media (min-width: 760px) {
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }
  .footer-wave-svg {
    height: 50px;
  }
  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/*# sourceMappingURL=contact.css.map */
