@import "../css/Font.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");
@import "../css/Font.css";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Saira", sans-serif;
  font-weight: 600px;
  font-style: normal;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: #e0d5d5;
}

body {
  width: 99%;
  background: url(https://cdn.pixabay.com/photo/2024/04/17/21/49/ai-generated-8703079_1280.jpg);
  background-size: cover;
  margin: 0 auto;
  position: relative;
}

.dashboard.hidden {
  display: none;
}

.dashboard {
  width: 100%;
  height: 98vh;
  inset: 0;
  padding-top: 30px;
  display: flex;
  font-family: poppins;
  backdrop-filter: blur(10px);
  background-color: rgba(33, 30, 30, 0.728);
}
.dashboard .sidebar {
  width: 20%;
  padding-top: 10px;
  padding-inline: 20px;
  font-size: 1.1rem;
}
.dashboard .sidebar aside {
  width: 100%;
  letter-spacing: 3px;
  padding-block: 10px;
  text-align: center;
  border: 2px solid;
  margin-bottom: 40px;
}
.dashboard .sidebar .profileimg {
  width: 40%;
  height: 90px;
  margin: 0 auto;
  margin-bottom: 60px;
  overflow: hidden;
  border-radius: 100%;
}
.dashboard .sidebar .profileimg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dashboard .sidebar nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.dashboard .sidebar nav li {
  padding-inline: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.dashboard .sidebar nav li a {
  text-decoration: none;
  position: relative;
}
.dashboard .sidebar nav li a::after {
  content: "";
  position: absolute;
  transition: width 0.26s ease-in-out;
  height: 1px;
  background-color: #e0d5d5;
  top: 28px;
  left: 0;
  width: 0;
  right: 0;
}
.dashboard .sidebar nav li a:hover {
  width: 100%;
}
.dashboard .sidebar nav li a:hover::after {
  width: 50%;
}
.dashboard .center {
  width: 60%;
  padding-inline: 20px;
  border-left: 1px solid #fefefe;
  font-size: 1.1rem;
}
.dashboard .center header {
  padding-block: 20px;
}
.dashboard .center header .search {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 0;
  border-radius: 7px;
  background-color: #40414d;
}
.dashboard .center header .search i {
  left: 7px;
  bottom: 10px;
  position: absolute;
}
.dashboard .center header .search input {
  width: 100%;
  padding: 10px;
  height: 100%;
  margin: 0;
  text-indent: 23px;
  outline: none;
  border-color: transparent;
  font-weight: 700;
  background-color: transparent;
}
.dashboard .center header .search input:focus-within::placeholder {
  opacity: 0.3;
  text-indent: 40px;
}
.dashboard .center header .search input::placeholder {
  font-weight: 700;
  font-family: poppins;
  letter-spacing: 2px;
  color: antiquewhite;
  transition: text-indent 0.6s ease-in-out;
}
.dashboard .center header .search input:hover {
  cursor: pointer;
}
.dashboard .center .box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-block: 30px;
}
.dashboard .center .box main .goals {
  display: flex;
  gap: 3rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}
.dashboard .center .box main .goals .goal {
  display: flex;
  padding: 10px;
  flex-direction: column;
  gap: 1rem;
  width: 28%;
  background-color: #f5efef;
}
.dashboard .center .box main .goals .goal * {
  color: black;
}
.dashboard .center .box main .goals .goal .icon {
  font-size: 0.5rem;
  display: flex;
  justify-items: center;
  width: 100%;
  height: 90px;
}
.dashboard .center .box main .goals .goal .icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: black;
}
.dashboard .center .box main .goals .goal .text {
  display: flex;
  justify-content: center;
}
.dashboard .center .box main .goals .goal .progress-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;
}
.dashboard .center .box main .goals .goal .progress-container p {
  width: 60%;
  text-align: center;
}
@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}
@property --percentage {
  .dashboard .center .box main .goals .goal .progress-container {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
  }
}
.dashboard .center .box main .goals .goal .progress-container [role=progressbar] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 100px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 1;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}
.dashboard .center .box main .goals .goal .progress-container [role=progressbar]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(var(--primary) calc(var(--percentage) * 1%), var(--secondary) 0);
  mask: radial-gradient(white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(rgba(0, 0, 0, 0) 55%, #000 0);
  -webkit-mask-mode: alpha;
}
.dashboard .center .box main .goals .goal .progress-container [role=progressbar]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) "%";
  font-family: Helvetica, Arial, sans-serif;
  font-size: calc(var(--size) / 5);
  color: var(--primary);
}
.dashboard .right {
  width: 30%;
  border-top-left-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
  padding-inline: 20px;
  background: #f5efef;
  font-size: 1.1rem;
}
.dashboard .right canvas.chart {
  background-color: #000;
}
.dashboard .right h1 {
  width: 100%;
  color: #000;
  text-align: center;
}
.dashboard .right .spans {
  width: 90%;
  margin: 0 auto;
  border-radius: 7px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2px;
  padding-block: 10px;
  background-color: rgb(27, 26, 26);
}
.dashboard .right .spans p {
  padding-inline: 10px;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 0;
}
.dashboard .right .spans p span {
  text-align: center;
}
.dashboard .right h3 {
  margin-top: 35px;
}
.dashboard .right .schedule {
  color: #000;
}
.dashboard .right .schedules {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 30px;
}
.dashboard .right .schedules .box {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 4px;
  border-radius: 7px;
  background-color: rgb(27, 26, 26);
  padding-inline: 10px;
}
.dashboard .right .schedules .box * {
  margin: 0;
}
.dashboard .right .schedules .box i {
  position: absolute;
  right: 6px;
  font-size: 1.4rem;
}

section.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 20px;
  border: 2px solid;
  background: rgba(33, 30, 30, 0.728);
  backdrop-filter: blur(16px);
  margin-bottom: 20px;
}
section.profile header .img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  overflow: hidden;
}
section.profile header .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
section.profile header h1 {
  text-align: center;
}
section.profile main.profile {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}
section.profile main.profile .box h1 {
  text-align: center;
  text-transform: capitalize;
}
section.profile main.profile .box .container {
  height: 200px;
  display: grid;
  border: 2px solid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1px;
}
section.profile main.profile .box .container .values {
  border: 2px solid;
  padding: 10px;
  font-size: 1.2em;
  letter-spacing: 1px;
}
section.profile main.profile .bmi {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: rgba(33, 30, 30, 0.628);
}
section.profile main.profile .bmi h1 {
  text-align: center;
  text-transform: uppercase;
}
section.profile main.profile .bmi .bmi_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-inline: 20px;
}
section.profile main.profile .bmi .bmi_input input {
  text-indent: 6px;
  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 2px solid #fefefe;
  transition: all 0.3s ease-in-out;
  font-size: 1.2em;
}
section.profile main.profile .bmi .bmi_input input:focus {
  text-indent: 30px;
}
section.profile main.profile .bmi .btn {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}
section.profile main.profile .bmi .btn button {
  padding: 6px;
  padding-inline: 19px;
  outline: none;
  background: transparent;
  border: 2px solid white;
  text-transform: capitalize;
  font-weight: 700;
  transition: all 0.2s ease-in-out;
}
section.profile main.profile .bmi .btn button:hover {
  background: white;
  border-color: transparent;
  color: black;
}
section.profile .input_profile {
  display: flex;
  flex-direction: column;
  height: 660px;
  border: 2px solid;
  padding: 8px;
  padding-inline: 20px;
  border-radius: 10px;
  gap: 0.5rem;
}
section.profile .input_profile h1 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
  font-size: 3em;
}
section.profile .input_profile .inputs {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
section.profile .input_profile .inputs .input {
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
section.profile .input_profile .inputs .input label {
  font-size: 1.2rem;
  text-transform: capitalize;
}
section.profile .input_profile .inputs .input input {
  padding: 14px;
  color: white;
  font-size: 1.2em;
  background-color: transparent;
  outline: none;
  border: 1px solid white;
  transition: all 0.3s ease-in-out;
}
section.profile .input_profile .inputs .input input:focus {
  text-indent: 30px;
}
section.profile .input_profile .inputs .input input::placeholder {
  font-size: 20px;
}
section.profile .input_profile .save {
  width: 40%;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 1rem;
  outline: none;
  background-color: transparent;
  border: 2px solid white;
  font-weight: 700;
  font-size: 1.1em;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
section.profile .input_profile .save:hover {
  background: white;
  cursor: pointer;
  color: black;
  border-color: transparent;
}

.nutrition {
  backdrop-filter: blur(15px);
  background: rgba(33, 30, 30, 0.628);
  padding-block: 60px;
  padding-bottom: 100px;
  position: relative;
}
.nutrition h2 {
  text-transform: capitalize;
  text-align: center;
  width: 100%;
  font-size: 1.9rem;
}
.nutrition .nutrition_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.nutrition .nutrition_table th,
.nutrition .nutrition_table td {
  border: 1px solid white;
  padding: 15px;
  text-align: left;
}
.nutrition .nutrition_table th {
  background-color: #f2f2f2;
  color: #000;
}
.nutrition .closer {
  position: absolute;
  bottom: 1%;
  right: 10%;
}

.exercise {
  background: rgba(0, 0, 0, 0.628);
  min-height: 100vh;
}
.exercise .exercise-list {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
}
.exercise .exercise-list .menu-checkbox {
  display: none;
}
.exercise .exercise-list .menu {
  position: relative;
}
.exercise .exercise-list .menu-dots {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 0 0.3rem #161e3f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  cursor: pointer;
}
.exercise .exercise-list .menu-dots:hover {
  box-shadow: 0 0 0 0.3rem #9e9fa5, 0 0 0 1rem rgba(125, 126, 131, 0.16);
  transform: scale(1.2) rotate(90deg);
}
.exercise .exercise-list h1 {
  font-size: 1.2rem;
  margin-top: 0.3rem;
  z-index: 40;
  letter-spacing: 2px;
  text-align: center;
}
.exercise .exercise-list .menu-items {
  position: absolute;
  top: -2.3rem;
  left: -2.2rem;
  width: 9.4rem;
  height: 11rem;
  color: #fff;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
}
.exercise .exercise-list .menu-item {
  transform: scale(0.5);
  filter: blur(10px);
  transition: 0.3s;
  transform: rotate(0deg) translate(5rem) rotate(0deg);
  /* Adjust translate(5rem) based on your circle radius */
  transition: transform 0.3s;
  list-style: none;
}
.exercise .exercise-list .menu-item .icon {
  width: 50px;
  height: 50px;
}
.exercise .exercise-list .menu-item .icon img {
  width: 100%;
  height: 100%;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-dots {
  transform: none;
  box-shadow: 0 0 0 3.4rem #161e3f;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items {
  opacity: 1;
  pointer-events: auto;
}
.exercise .exercise-list .menu-closer-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 15.8);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items > .menu-item {
  opacity: 1;
  transform: none;
  filter: none;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(1) {
  transform: rotate(34deg) translate(15rem) rotate(-34deg);
  transition-delay: 0.05s;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(2) {
  transform: rotate(64deg) translate(4rem) rotate(-90deg);
  transition-delay: 0.1s;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(3) {
  transform: rotate(-10deg) translate(10rem) rotate(10deg);
  transition-delay: 0.15s;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(4) {
  transform: rotate(200deg) translate(5rem) rotate(-200deg);
  transition-delay: 0.2s;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(5) {
  transform: rotate(240deg) translate(6rem) rotate(-240deg);
  transition-delay: 0.25s;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-items > .menu-item:nth-child(6) {
  transform: rotate(70deg) translate(4rem) rotate(10deg);
  transition-delay: 0.3s;
}
.exercise .exercise-list .menu-checkbox:checked + .menu > .menu-closer-overlay {
  pointer-events: auto;
  cursor: pointer;
}
.exercise .closer {
  position: absolute;
  bottom: 6rem;
  right: 5%;
  padding: 16px;
}

.userdata_table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid black;
}
.userdata_table th,
.userdata_table td {
  border: 1px solid white;
  padding: 15px;
  text-align: left;
}
.userdata_table th {
  background-color: #f2f2f2;
  color: #000;
}

section.profile.hidden {
  display: none;
}

nutrition closer .hidden {
  display: none;
}

.closer {
  text-decoration: none;
  background-color: #f2f2f2;
  padding: 20px;
  padding-inline: 40px;
  color: #000;
  border: 2px solid transparent;
}
.closer:hover {
  background-color: transparent;
  color: #f2f2f2;
  border-color: #f2f2f2;
  cursor: pointer;
}

.settings_box.hidden {
  display: none;
}

.settings_box {
  display: flex;
  width: 100%;
  justify-content: center;
  background: rgba(0, 0, 0, 0.828);
  gap: 7rem;
  padding-top: 30px;
  padding-bottom: 6rem;
}
.settings_box .settings {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}
.settings_box .settings h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.settings_box .settings .input {
  width: 100%;
  margin: 0 auto;
  position: relative;
}
.settings_box .settings .input input {
  width: 100%;
  padding: 13px;
  background-color: white;
  text-indent: 40px;
  border-color: #fefefe;
  outline: none;
  font-size: 1rem;
  color: black;
  transition: text-indent 0.4s ease-in-out;
}
.settings_box .settings .input input::placeholder {
  transition: text-indent 0.3s ease-in-out;
}
.settings_box .settings .input input:focus-within::placeholder {
  opacity: 0.8;
  text-indent: 50px;
}
.settings_box .settings .input i {
  left: 9px;
  position: absolute;
  top: 16px;
  font-size: 1.2em;
  color: #000;
}
.settings_box .settings .results {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.settings_box .settings .results .result {
  border: 2px solid white;
  width: 100%;
  background-color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
}
.settings_box .settings .results .result * {
  color: #000;
}
.settings_box .notifications {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  height: 100%;
  width: 40%;
}
.settings_box .notifications h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
}
.settings_box .notifications .text {
  width: 90%;
}
.settings_box .notifications .notify-p {
  font-size: 1rem;
  text-align: center;
}
.settings_box .notifications .notification {
  border: 2px solid white;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
.settings_box .closer {
  position: absolute;
  bottom: 6rem;
  right: 20%;
  padding: 16px;
}

.exit.hidden {
  display: none;
}

.exit {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(33, 30, 30, 0.628);
  height: 100vh;
}
.exit .exitmodalBody {
  box-sizing: border-box;
  width: 30%;
  height: 400px;
  display: flex;
  border: 2px solid transparent;
  top: 0;
  left: 37%;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  background-color: rgba(33, 30, 30, 0.9294117647);
  color: black;
  transition: border 0.2s ease-in-out;
}
.exit .exitmodalBody:hover {
  border-color: white;
}
.exit .icon {
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 6px;
  top: -52px;
  border-width: 8px;
  border-radius: 100%;
}
.exit .text {
  padding-inline: 20px;
  padding-block: 10px;
  padding-top: 30px;
  height: 70%;
  text-align: center;
}
.exit .button-container {
  width: 100%;
  display: flex;
  height: 20%;
}
.exit .button-container * {
  width: 50%;
  color: black;
  font-weight: 700;
  font-size: 1.5rem;
}
.exit .button-container .cancel {
  transition: all 0.3s ease-in-out;
}
.exit .button-container .cancel:hover {
  background: rgba(33, 30, 30, 0.9294117647);
  cursor: pointer;
  color: white;
  border-color: white;
}
.exit .button-container .proceed {
  transition: all 0.3s ease-in-out;
}
.exit .button-container .proceed:hover {
  background: rgba(33, 30, 30, 0.9294117647);
  cursor: pointer;
  color: white;
  border-color: white;
}

/*# sourceMappingURL=dashboarduser.css.map */
