@import "../css/Font.css";

$logo-color: #ca0123;
$Fontone: poppins;
$gray: #40414d;
$gray2: #222324;
$lightgray: #d8d4d4;
$breakpoints: (
    'small' : 767px,
    'medium' : 992px,
    'large' : 1200px
);