@import "./variables";
@import "./mixin";

* {
    @include boxmodel(400px);
    scroll-behavior: smooth;
    // @include border
}
.topheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-inline: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    transition: background-color 0.3s ease-in-out;
    // will-change: background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2rem;
            font-family: sans-serif;
            font-weight: 900;
            margin-left: -20px;
            color: white;
        }

        .icon {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 7rem;
        list-style: none;

        a {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
        }
    }
    // utility
.btn {
    @include Button
}
}
/* Navbar on Scroll (Active State) dom class */
.scroll {
    background: #1b19198e;
    backdrop-filter: blur(14px);
    /* Background color on scroll down */
}
.hero_section{
    padding-top: 100px;
    width:100%;
   height: 700px;
     img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
     }

}
/* Navbar on Scroll (Active State) dom class */
.scroll {
    background: #1b19198e;
    backdrop-filter: blur(14px);
    /* Background color on scroll down */
}

section.choose{
    padding: 50px;
    gap: 3rem;
    padding-block: 10rem;
    display: flex;
    background-color: black;
    color: white;
    flex-direction: column;
    
header{
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: column;
justify-content: center;
    align-items: center;
    h4{
        font-size: 1.4rem;
        
    }
    p{
        font-size: 2.5rem;
        color: $logo-color;
    }
}
.choose-body{
    padding-top: 20px;
  display: flex;
  justify-content:space-between;
  width: 100%;
  padding-inline: 20px;  
  .card{
    display: flex;
    flex-direction: column;
    gap: 1em;
    .img{
        width: 100px;
        aspect-ratio: 1;
       border-radius: 100%;
       display: flex;
       padding: 10px;
       align-items: center;
       justify-content: center;
       box-shadow: 2px 2px 32px rgb(134, 121, 121,.3);
       background: rgba(255, 255, 255, 0.1);
        i{
             font-size: 3rem;
  color: $logo-color;
        }
      
    }
    .caption{
        font-weight: 700;
        font-size: 1.4rem;
        
    }
    p{
        margin-top: 10px;
        font-weight: 200;
    }
  }
}

}

.achievements{
    display: flex;
    
    .right{

        height: 600px;
        width: 50%;
        video{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
.left{
    padding: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    height: 4px;
    padding: 20px;
    h4{
        font-weight: 500;
        font-size: 1.4em;
    }
        h3{
            font-weight: 700;
            font-size: 2.5rem;
            color: $logo-color;
        }
    }
    .text{
        padding: 20px;
    }
}
}

 .tracker {
            display: flex;
            align-items: center;
            /* gap: 1rem;  Adjust as needed using rem or px */
            padding: 0.5rem;
            border-radius: 0.5rem;
            /* background-color: #f3f4f6;  Light gray, consider using Tailwind's colors */
        }
        .tracker-bar {
            flex: 1;
            height: 0.75rem;
            border-radius: 0.5rem;
            background-color: #242425; /* Gray 200 */
            position: relative;
            overflow: hidden; /* Ensure the filled part doesn't overflow */
        }
        .tracker-bar-fill {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            border-radius: 0.5rem;
            background:$logo-color  ; /* Gray 500 */
            width: 80%; /* Start with 0% */
            transition: width 0.3s ease-in-out; /* Smooth transition */
        }
        .tracker-bar-fill.two{
             width: 70%;
        }
         .tracker-bar-fill.three{
             width: 60%;
        }
        .tracker-label {
            font-size: 1.2rem;
            font-weight: 500;
            color: $logo-color; /* Gray 700 */
            margin-right: 0.75rem; /* Use rem for consistency */
            white-space: nowrap; /* Prevent label wrapping */
        }
        .tracker-percentage {
            font-size: 0.875rem;
            font-weight: 500;
            color: $logo-color; /* Gray 700 */
            margin-left: 0.75rem;
            white-space: nowrap;
        }
        .carousel{
            padding-block: 6rem;
            padding-inline: 20px;
            background:linear-gradient(to right,rgb(0, 0, 0,9),black) ;
            position: relative;
            header{
                display: flex;
                justify-content: space-between;
                padding-inline: 30px;
                h2{
                    text-transform: capitalize;
                    color: white;
            font-size: 3.2rem;

            font-weight: 700;
                    text-shadow: 2px 2px 23px rgb($logo-color,.8);
                }
                button{
                   background: white;
                   padding: 10px;
                   padding-inline: 25px;
                   border-radius: 8px;
                   text-transform: capitalize;
                   font-size: 1.5rem;
                   font-weight: 700;
                }
            }
            .mybox{
                display: flex;
                justify-content: center;
                overflow: hidden;
                padding-block: 4rem ;
                
                .mySwiper{
                border-radius: 50px;
                overflow: hidden;
                height:600px;
                

                }
            }
        }
    .first {
     
      img{
        object-position: top;
      }
    }
    
//footer

  .footer {
    background: linear-gradient(black,#272222,#a03333);
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: black;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
      aside{
      
        width: 100px;
      }
  }
  .logo_container{
    display: flex;
    flex-direction: column;
    
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
 
  .logo_img{
    width: 200px;
    aspect-ratio: 1;
    img{
        width: 100%;
        height: 100%;
    }
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: $logo-color;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: $logo-color;
      border-radius: 12px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #9ea5a7;
  }
  
  .footer-social-link.linkedin {
      height: 260px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
//   .footer-social-icon-svg {
//       display: block;
//   }
  
//   .footer-social-icon-path {
//       fill: #fffff2;
//       transition: fill .2s;
//   }
  
//   .footer-social-link.twitter {
//       height: 28px;
//       left: 62px;
//       top: 3px;
//       width: 28px;
//   }
  
//   .footer-social-link.youtube {
//       height: 24px;
//       left: 123px;
//       top: 12px;
//       width: 24px;
//   }
  
//   .footer-social-link.github {
//       height: 34px;
//       left: 172px;
//       top: 7px;
//       width: 34px;
//   }
  
  .footer-copyright {
      background-color: linear-gradient(black,rgb(39, 34, 34),rgb(160, 51, 51));
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  
