@import "./mixin";
@import "./variables";
@import "../css/Font.css";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

* {
    @include boxmodel(300);
    // @include border
}



body {
    width: 100%;
    height: 100vh;
    
    background: url(https://images.pexels.com/photos/4753987/pexels-photo-4753987.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}
.topheader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding-inline: 2rem;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
    transition: background-color 0.3s ease-in-out;
    will-change: background-color;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 2rem;
            font-family: sans-serif;
            font-weight: 900;
            margin-left: -20px;
            color: #d8d4d4;
        }

        .icon {
            width: 100px;
            height: 100px;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 7rem;
        list-style: none;

        a {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
        }
    }
        .btn {
    @include Button
}
}

/* Navbar on Scroll (Active State) dom class */
.scroll {
    background: #1b19198e;
    backdrop-filter: blur(14px);
    /* Background color on scroll down */
}
    

.box{
    padding-block: 9rem;
display: flex;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(15px);
    background-color: #211e1e8e;
    align-items: center;
    justify-content: center;
    color: $lightgray;
    // max-height: 750px;
    transition: max-height .5s ease-in-out;
    width: 80%;
    padding-block: 1rem;
    padding-inline: 3rem;


    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        position: relative;


        h1 {
            font-size: 1rem;
            font-family: sans-serif;
            font-weight: 900;
            margin-left: -20px;
            padding-block: 0;
        }

        .icon {
            width: 90px;
            height: 90px;
            position: absolute;
            left: 26%;



            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }


    h3.signup-caption {
        font-size: 3rem;
        font-weight: 500;
        text-align: center;

    }

    P {
        font-size: 20px;
    }

    p.small {
        font-size: 1rem;
        margin-left: 34px;
        text-align: left;
        width: 100%;
    }

    h4 {
        margin-top: 0;
    }

    .div {
        margin: 5px auto;
        width: 100%;
        display: flex;
        gap: 2rem;
        padding: 10px;
        padding-bottom: 0;
    }

    .input_box {
        width: 100%;
    }






    .input {
        display: flex;
        align-items: center;
        position: relative;
        border: 2px solid transparent;
        color: white;
        overflow: hidden;
        width: 100%;
        padding: 0;



        .eyeclosed {
            visibility: hidden;
            position: absolute;
            bottom: 22%;
            right: 7px;

        }

        i.ri-git-repository-private-fill,
        i.ri-mail-fill,
        i.ri-cake-2-line,
        i.ri-user-4-line,
        i.ri-user-fill {
            right: 7px;
            bottom: 24%;
            transition: opacity .6s ease-in-out;
        }

        i.ri-weight-line,
        i.ri-expand-height-fill,
        i.ri-health-book-fill {
            left: 7px;
            bottom: 24%;
            transition: opacity .6s ease-in-out;
            transition: transform .7s ease-in-out;


        }

        i {

            position: absolute;
            right: 7px;
        }

        &:hover {

            i.ri-git-repository-private-fill,
            i.ri-mail-fill,
            i.ri-cake-2-line,
            i.ri-user-4-line,
            i.ri-user-fill {
                opacity: 0.3;
            }



            i.ri-weight-line,
            i.ri-expand-height-fill,
            i.ri-health-book-fill {
                transform: translatey(170%);
                opacity: 0.3;
            }

        }

        input {
            width: 100%;
            color: white;
            border: 2px solid transparent;
            transition: border .4s ease-in-out;
            outline: none;
            background-color: $gray2;
            padding: 10px;
            font-size: 1rem;

            &:hover {
                cursor: pointer;

            }

            &::placeholder {
                color: white;
                opacity: 0.4;
                transition: text-indent .9s;
            }


            &:focus-within {
                border-color: wheat;
                text-indent: 30px;



            }


        }



    }

    .auth-div {
        margin: 5px auto;
        width: 100%;
        display: flex;
        padding: 10px;
        gap: 2rem;
        padding-bottom: 0;

        .auth {
            width: 100%;
        }


    }



    .signup {
        width: 50%;
        padding: 9px;
        border-radius: 7px;
        background-color: $logo-color;
        font-size: 1.2rem;
        color: #d8d4d4;
        border: 2px solid transparent;
        transition: all .2s ease-in-out;
        margin-top: 1.5rem;
        margin-bottom: 0.6rem;


        &:hover {
            background-color: #6b4343;
            color: white;
            cursor: pointer;
            border-color: white;

            a.btn-border {
                border-color: transparent;
            }
        }

        &:disabled {
            background-color: transparent;
            border-color: grey;
        }
    }

    .btn-border {
        width: 100%;
        padding: 12px;

        border-radius: 7px;
        margin-bottom: 30px;
        font-size: 1.2rem;
        color: $lightgray;
        border: 2px solid $logo-color;

    }

    a.btn-border {
        padding: 12px;
        text-decoration: none;
        text-align: center;
        letter-spacing: 7px;
        border-radius: 7px;
        margin-bottom: 30px;
        font-size: 1.2rem;
        color: white;
        border: 2px solid $logo-color;
    }

    .check {
        font-weight: 200;

        .login {
            padding: 2px;
            letter-spacing: 1px;
            font-weight: 700;
            border-bottom: 1px solid;
            margin-left: 7px;
            text-decoration: none;
            color: white;
            transition: all .2s ease-in-out;
            border-radius: 4px;

            &:hover {
                background-color: #d8d4d4;
                color: black;
                border-color: transparent;
            }
        }

    }


    :disabled {
        background-color: transparent;
        border-color: grey;
    }


}





// dom classess
/* Modal Styles */
.modal {
    display: none;
    /* Hide the modal by default */
    position: fixed;
    /* Stay in place when scrolling */
    z-index: 1;
    /* Sit on top of other content */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if modal content overflows */
    background-color: rgba(0, 0, 0, 0.4);
    /* Transparent black background */


    /* Modal Content */
    .modal-content {
        background-color: #fefefe;
        margin: 15% auto;
        position: relative;
        /* 15% from the top and centered horizontally */
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        /* Modal content width */
        animation-name: modalAnim;
        /* Optional: Add animation for modal entrance */
        animation-duration: 0.4s;
    }

    /* Animation for modal entrance (optional) */
    @keyframes modalAnim {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    /* Modal Header */
    .modal-header {
        padding: 16px;
        border-bottom: 1px solid #e0e0e0;

    }

    .modal-title {
        margin-bottom: 0;
        font-size: 2.3em;
        font-weight: 600;

        text-align: center;
    }



    /* Modal Body */
    .modal-body {
        padding: 20px;

        p {
            font-size: 1.2em;
            font-weight: 500;
            text-align: center;

        }

    }

    .close-modal {
        color: $logo-color;
        font-size: 38px;
        font-weight: bold;
        background: transparent;
        border: none;
        outline: none;
        position: absolute;
        top: 0;
        right: 12px;

    }

    .close-modal:hover,
    .close-modal:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .error-title {
        color: $logo-color;
    }

    /* Modal Footer */
}



.show {
    display: block;
}

  .footer {
    background: linear-gradient(black,#272222,#a03333);
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 30px;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: black;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      width: 100%;
      color: #fff;
      aside{
      
        width: 100px;
      }
  }
  .logo_container{
    display: flex;
    flex-direction: column;
    
  }
  
  .footer-content-column ul li a {
    color: #fff;
    text-decoration: none;
  }
  
 
  .logo_img{
    width: 200px;
    aspect-ratio: 1;
    img{
        width: 100%;
        height: 100%;
    }
  }
  .footer-menu {
      margin-top: 30px;
  }
  
  .footer-menu-name {
      color: #fffff2;
      font-size: 15px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 10px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: $logo-color;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: $logo-color;
      border-radius: 12px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      text-transform: uppercase;
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #9ea5a7;
  }
  
  .footer-social-link.linkedin {
      height: 260px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
//   .footer-social-icon-svg {
//       display: block;
//   }
  
//   .footer-social-icon-path {
//       fill: #fffff2;
//       transition: fill .2s;
//   }
  
//   .footer-social-link.twitter {
//       height: 28px;
//       left: 62px;
//       top: 3px;
//       width: 28px;
//   }
  
//   .footer-social-link.youtube {
//       height: 24px;
//       left: 123px;
//       top: 12px;
//       width: 24px;
//   }
  
//   .footer-social-link.github {
//       height: 34px;
//       left: 172px;
//       top: 7px;
//       width: 34px;
//   }
  
  .footer-copyright {
      background-color: linear-gradient(black,rgb(39, 34, 34),rgb(160, 51, 51));
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  
  
  
  
  
  
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 800px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 1050px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 450px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 50px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  