@import "./mixin";
@import "./variables";


* {
    @include boxmodel(500px);
    // @include border();
}

body {
    padding-top: 3rem;
    background: url(../img/2ndslidebg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

}

.overlay {
    //url('https://png.pngtree.com/background/20230516/original/pngtree-large-room-full-of-equipment-in-a-gym-picture-image_2611111.jpg');//
    background: url(../img/2ndslidebg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    gap: 8rem;
    padding: 50px;
    backdrop-filter: blur(100px);





    .card {
        overflow: visible;
        width: 600px;
        height: 254px;
        box-shadow: 20px 20px 20px black;


        .content {
            width: 100%;
            height: 100%;
            transform-style: preserve-3d;
            transition: transform 300ms;
            box-shadow: 0px 0px 10px 1px #000000ee;
            border-radius: 5px;

            .front,
            .back {
                background-color: #151515;
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                -webkit-backface-visibility: hidden;
                border-radius: 5px;
                overflow: hidden;
            }

            .back {
                width: 100%;
                height: 100%;
                justify-content: center;
                display: flex;
                align-items: center;
                overflow: hidden;

                &::before {
                    position: absolute;
                    content: ' ';
                    display: block;
                    width: 300px;
                    height: 300%;
                    background: linear-gradient(90deg, transparent, #424140, #dad2ce, #f7ede8, #f7f4f3, transparent);
                    animation: rotation_481 5000ms infinite linear;
                }

                .back-content {
                    position: absolute;
                    width: 99%;
                    height: 99%;
                    background-color: #151515;
                    border-radius: 5px;
                    color: white;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;

                    .logo {
                        width: 100%;
                        height: 100%;
                        padding: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background: rgb(12, 12, 12);
                        border-radius: 10px;
                        backdrop-filter: blur(199px);
                        opacity: 0.9;
                        // border: 1px solid white;



                        h1 {
                            font-size: 3rem;
                            font-family: sans-serif;
                            font-weight: 900;
                            margin-left: -20px;
                            color: white;

                        }

                        .icon {
                            width: 100px;
                            height: 100px;

                            img {
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }
                }

            }

            .front {
                transform: rotateY(180deg);
                color: white;




                .front-content {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;



                    .badge {
                        background-color: #00000055;
                        padding: 2px 10px;
                        border-radius: 10px;
                        backdrop-filter: blur(2px);
                        width: fit-content;
                    }

                    .description {
                        box-shadow: 0px 0px 10px 5px #00000088;
                        width: 100%;
                        padding: 10px;
                        background-color: #00000099;
                        backdrop-filter: blur(5px);
                        border-radius: 5px;

                        .title {
                            font-size: 11px;
                            max-width: 100%;
                            display: flex;
                            justify-content: space-between;

                            p {
                                width: 50%;
                            }
                        }


                        .card-footer {
                            color: #ffffff88;
                            margin-top: 5px;
                            font-size: 8px;
                        }

                    }
                }

                .img {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;

                    .circle {
                        width: 90px;
                        height: 90px;
                        border-radius: 50%;
                        background-color: #ffbb66;
                        position: relative;
                        filter: blur(15px);
                        animation: floating 2600ms infinite linear;

                        #bottom {
                            background-color: #ff8866;
                            left: 50px;
                            top: 0px;
                            width: 150px;
                            height: 150px;
                            animation-delay: -800ms;
                        }

                        #right {
                            background-color: #ff2233;
                            left: 160px;
                            top: -80px;
                            width: 30px;
                            height: 30px;
                            animation-delay: -1800ms;
                        }

                    }

                }
            }
        }
    }










    .card:hover .content {
        transform: rotateY(180deg);
    }

    @keyframes rotation_481 {
        0% {
            transform: rotateZ(0deg);
        }

        0% {
            transform: rotateZ(360deg);
        }
    }

















    @keyframes floating {
        0% {
            transform: translateY(0px);
        }

        50% {
            transform: translateY(10px);
        }

        100% {
            transform: translateY(0px);
        }
    }

    .start-button {
        width: 90%;
        border: 1px solid rgb(41, 40, 40);
        border-radius: 1rem;
        box-shadow: 20px 20px 45px black;
        margin-top: 70px;


        button {
            width: 100%;
            padding: 5px;
            font-size: 2.5rem;
            color: white;
            letter-spacing: 3px;
            border-radius: 1rem;
            background: black;
            border: none;
            opacity: 0.8;
            outline: none;
            transition: .3s ease-in-out;

            &:hover {
                background: white;
                border-color: transparent;
                color: black;
                opacity: 1;
                cursor: pointer;
                font-weight: 700;

            }
        }

    }


}